.custom-button {
    background-color: #13877e;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #332378;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #ffffff;
    color: #333333;
  }