.hero-section {
    height: 60vh; /* Adjusted height to 100% */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-container {
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 20px; 
    padding-left: 40px;
    background-color: none; 
    text-align: center;
    width: 60%;
  }
  
  
  .hero-name {
    font-size: 10rem;
    color: #21106b;
    margin-bottom: 15px;
  }
  
  .hero-position {
    font-size: 1.5rem;
    color: #366678;
    margin-bottom: 20px;
  }
  